<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GestionQCM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>Root</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AuthentificationServlet</display-name>
    <servlet-name>AuthentificationServlet</servlet-name>
    <servlet-class>fr.gestionqcm.controler.AuthentificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthentificationServlet</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>NewTestServlet</display-name>
    <servlet-name>NewTestServlet</servlet-name>
    <servlet-class>fr.gestionqcm.controler.teacher.tests.NewTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewTestServlet</servlet-name>
    <url-pattern>/NewTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateNewTestServlet</display-name>
    <servlet-name>ValidateNewTestServlet</servlet-name>
    <servlet-class>fr.gestionqcm.controler.teacher.tests.ValidateNewTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateNewTestServlet</servlet-name>
    <url-pattern>/ValidateNewTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeginTestServlet</display-name>
    <servlet-name>BeginTestServlet</servlet-name>
    <servlet-class>fr.gestionqcm.controler.stagiaire.tests.BeginTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeginTestServlet</servlet-name>
    <url-pattern>/test/BeginTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayNextQuestionServlet</display-name>
    <servlet-name>DisplayNextQuestionServlet</servlet-name>
    <servlet-class>fr.gestionqcm.controler.stagiaire.tests.DisplayNextQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayNextQuestionServlet</servlet-name>
    <url-pattern>/test/DisplayNextQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListTestsServlet</display-name>
    <servlet-name>ListTestsServlet</servlet-name>
    <servlet-class>fr.gestionqcm.controler.teacher.tests.ListTestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListTestsServlet</servlet-name>
    <url-pattern>/ListTests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTestServlet</display-name>
    <servlet-name>UpdateTestServlet</servlet-name>
    <servlet-class>fr.gestionqcm.controler.teacher.tests.UpdateTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTestServlet</servlet-name>
    <url-pattern>/UpdateTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTestServlet</display-name>
    <servlet-name>DeleteTestServlet</servlet-name>
    <servlet-class>fr.gestionqcm.controler.teacher.tests.DeleteTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTestServlet</servlet-name>
    <url-pattern>/DeleteTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateTestServlet</display-name>
    <servlet-name>ValidateTestServlet</servlet-name>
    <servlet-class>fr.gestionqcm.controler.teacher.tests.ValidateTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateTestServlet</servlet-name>
    <url-pattern>/ValidateTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InscriptionsServlet</display-name>
    <servlet-name>InscriptionsServlet</servlet-name>
    <servlet-class>fr.gestionqcm.controler.teacher.inscriptions.InscriptionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionsServlet</servlet-name>
    <url-pattern>/teacher/inscriptions/</url-pattern>
    <url-pattern>/teacher/inscriptions/edit</url-pattern>
    <url-pattern>/teacher/inscriptions/add</url-pattern>
    <url-pattern>/teacher/inscriptions/delete</url-pattern>
    <url-pattern>/teacher/inscriptions/save</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StagiaireSearchServlet</display-name>
    <servlet-name>StagiaireSearchServlet</servlet-name>
    <servlet-class>fr.gestionqcm.controler.teacher.inscriptions.StagiaireSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StagiaireSearchServlet</servlet-name>
    <url-pattern>/teacher/inscriptions/searchstagiaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RootServlet</display-name>
    <servlet-name>RootServlet</servlet-name>
    <servlet-class>fr.gestionqcm.controler.RootServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RootServlet</servlet-name>
    <url-pattern>/Root</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>indexTrainee.jsp</servlet-name>
    <jsp-file>/view/trainee/indexTrainee.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexTrainee.jsp</servlet-name>
    <url-pattern>/trainee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>indexTeacher.jsp</servlet-name>
    <jsp-file>/view/teacher/indexTeacher.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexTeacher.jsp</servlet-name>
    <url-pattern>/teacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login.jsp</servlet-name>
    <jsp-file>/view/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>login.jsp</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisconnectionServlet</display-name>
    <servlet-name>DisconnectionServlet</servlet-name>
    <servlet-class>fr.gestionqcm.controler.DisconnectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisconnectionServlet</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveAnswerQuestion</display-name>
    <servlet-name>SaveAnswerQuestion</servlet-name>
    <servlet-class>fr.gestionqcm.controler.stagiaire.tests.SaveAnswerQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveAnswerQuestion</servlet-name>
    <url-pattern>/test/SaveAnswerQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListThemesServlet</display-name>
    <servlet-name>ListThemesServlet</servlet-name>
    <servlet-class>fr.gestionqcm.controler.teacher.themes.ListThemesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListThemesServlet</servlet-name>
    <url-pattern>/ListThemes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateThemeServlet</display-name>
    <servlet-name>UpdateThemeServlet</servlet-name>
    <servlet-class>fr.gestionqcm.controler.teacher.themes.UpdateThemeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateThemeServlet</servlet-name>
    <url-pattern>/UpdateTheme</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteThemeServlet</display-name>
    <servlet-name>DeleteThemeServlet</servlet-name>
    <servlet-class>fr.gestionqcm.controler.teacher.themes.DeleteThemeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteThemeServlet</servlet-name>
    <url-pattern>/DeleteTheme</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayOverview</display-name>
    <servlet-name>DisplayOverview</servlet-name>
    <servlet-class>fr.gestionqcm.controler.stagiaire.tests.DisplayOverview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayOverview</servlet-name>
    <url-pattern>/test/DisplayOverview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewThemeServlet</display-name>
    <servlet-name>NewThemeServlet</servlet-name>
    <servlet-class>fr.gestionqcm.controler.teacher.themes.NewThemeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewThemeServlet</servlet-name>
    <url-pattern>/NewTheme</url-pattern>
  </servlet-mapping>
</web-app>