<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GestionQCM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AuthentificationServlet</display-name>
    <servlet-name>AuthentificationServlet</servlet-name>
    <servlet-class>fr.gestionqcm.controler.AuthentificationServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>NewTestServlet</display-name>
    <servlet-name>NewTestServlet</servlet-name>
    <servlet-class>fr.gestionqcm.controler.teacher.tests.NewTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewTestServlet</servlet-name>
    <url-pattern>/NewTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateTestServlet</display-name>
    <servlet-name>ValidateTestServlet</servlet-name>
    <servlet-class>fr.gestionqcm.controler.teacher.tests.ValidateTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthentificationServlet</servlet-name>
    <url-pattern>/AuthentificationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValidateTestServlet</servlet-name>
    <url-pattern>/ValidateTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListTestsServlet</display-name>
    <servlet-name>ListTestsServlet</servlet-name>
    <servlet-class>fr.gestionqcm.controler.teacher.tests.ListTestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListTestsServlet</servlet-name>
    <url-pattern>/ListTests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTestServlet</display-name>
    <servlet-name>DeleteTestServlet</servlet-name>
    <servlet-class>fr.gestionqcm.controler.teacher.tests.DeleteTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTestServlet</servlet-name>
    <url-pattern>/DeleteTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTestServlet</display-name>
    <servlet-name>UpdateTestServlet</servlet-name>
    <servlet-class>fr.gestionqcm.controler.teacher.tests.UpdateTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTestServlet</servlet-name>
    <url-pattern>/UpdateTest</url-pattern>
  </servlet-mapping>
</web-app>