<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GestionQCM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>view/login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AuthentificationServlet</display-name>
    <servlet-name>AuthentificationServlet</servlet-name>
    <servlet-class>fr.gestionqcm.controler.AuthentificationServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>NewTestServlet</display-name>
    <servlet-name>NewTestServlet</servlet-name>
    <servlet-class>fr.gestionqcm.controler.teacher.tests.NewTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewTestServlet</servlet-name>
    <url-pattern>/NewTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateNewTestServlet</display-name>
    <servlet-name>ValidateNewTestServlet</servlet-name>
    <servlet-class>fr.gestionqcm.controler.teacher.tests.ValidateNewTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthentificationServlet</servlet-name>
    <url-pattern>/AuthentificationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValidateNewTestServlet</servlet-name>
    <url-pattern>/ValidateNewTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeginTestServlet</display-name>
    <servlet-name>BeginTestServlet</servlet-name>
    <servlet-class>fr.gestionqcm.controler.stagiaire.tests.BeginTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeginTestServlet</servlet-name>
    <url-pattern>/test/BeginTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayNextQuestionServlet</display-name>
    <servlet-name>DisplayNextQuestionServlet</servlet-name>
    <servlet-class>fr.gestionqcm.controler.stagiaire.tests.DisplayNextQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayNextQuestionServlet</servlet-name>
    <url-pattern>/test/DisplayNextQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListTestsServlet</display-name>
    <servlet-name>ListTestsServlet</servlet-name>
    <servlet-class>fr.gestionqcm.controler.teacher.tests.ListTestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListTestsServlet</servlet-name>
    <url-pattern>/ListTests</url-pattern>
  </servlet-mapping>
</web-app>
