USE [master]
GO
/****** Object:  Database [GestionQCM]    Script Date: 10/30/2015 11:21:36 ******/
CREATE DATABASE [GestionQCM] ON  PRIMARY 
( NAME = N'GestionQCM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\GestionQCM.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GestionQCM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\GestionQCM_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestionQCM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestionQCM]
GO
/****** Object:  Table [dbo].[THEME]    Script Date: 10/30/2015 11:21:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THEME](
	[id_theme] [int] IDENTITY(1,1) NOT NULL,
	[libelle] [nvarchar](100) NOT NULL,
 CONSTRAINT [THEME_PK] PRIMARY KEY CLUSTERED 
(
	[id_theme] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEST]    Script Date: 10/30/2015 11:21:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEST](
	[id_test] [int] IDENTITY(1,1) NOT NULL,
	[nom] [nvarchar](50) NOT NULL,
	[dureeDuTest] [int] NOT NULL,
	[seuilEnCours] [int] NOT NULL,
	[seuilAcquis] [int] NOT NULL,
	[estArchive] [tinyint] NOT NULL,
 CONSTRAINT [TEST_PK] PRIMARY KEY CLUSTERED 
(
	[id_test] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATUT]    Script Date: 10/30/2015 11:21:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUT](
	[id_statut] [int] IDENTITY(1,1) NOT NULL,
	[libelle] [nvarchar](50) NOT NULL,
 CONSTRAINT [STATUT_PK] PRIMARY KEY CLUSTERED 
(
	[id_statut] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROMOTION]    Script Date: 10/30/2015 11:21:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROMOTION](
	[id_promo] [int] IDENTITY(1,1) NOT NULL,
	[libelle] [nvarchar](50) NOT NULL,
 CONSTRAINT [PROMOTION_PK] PRIMARY KEY CLUSTERED 
(
	[id_promo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UTILISATEUR]    Script Date: 10/30/2015 11:21:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UTILISATEUR](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[nom] [nvarchar](50) NOT NULL,
	[prenom] [nvarchar](50) NOT NULL,
	[id_promo] [int] NULL,
	[id_statut] [int] NOT NULL,
	[estArchive] [bit] NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
 CONSTRAINT [UTILISATEUR_PK] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SECTION]    Script Date: 10/30/2015 11:21:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SECTION](
	[id_test] [int] NOT NULL,
	[id_theme] [int] NOT NULL,
	[nbQuestion] [int] NOT NULL,
 CONSTRAINT [SECTION_PK] PRIMARY KEY CLUSTERED 
(
	[id_theme] ASC,
	[id_test] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUESTION]    Script Date: 10/30/2015 11:21:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTION](
	[id_question] [int] IDENTITY(1,1) NOT NULL,
	[id_theme] [int] NOT NULL,
	[enonce] [nvarchar](1000) NOT NULL,
	[estArchive] [bit] NOT NULL,
	[urlImage] [nvarchar](100) NULL,
 CONSTRAINT [QUESTION_PK] PRIMARY KEY CLUSTERED 
(
	[id_question] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REPONSE]    Script Date: 10/30/2015 11:21:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPONSE](
	[id_reponse] [int] IDENTITY(1,1) NOT NULL,
	[libelle] [nvarchar](100) NOT NULL,
	[estCorrect] [bit] NOT NULL,
	[id_question] [int] NOT NULL,
 CONSTRAINT [REPONSE_PK] PRIMARY KEY CLUSTERED 
(
	[id_reponse] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INSCRIPTION_TEST]    Script Date: 10/30/2015 11:21:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSCRIPTION_TEST](
	[id_inscription] [int] IDENTITY(1,1) NOT NULL,
	[id_test] [int] NOT NULL,
	[date_inscription] [smalldatetime] NOT NULL,
	[id_user] [int] NOT NULL,
	[dateDebutTest] [smalldatetime] NULL,
	[tempsRestant] [int] NOT NULL,
	[nbIncident] [int] NOT NULL,
	[positionQuestion] [int] NOT NULL,
 CONSTRAINT [INSCRIPTION_TEST_PK] PRIMARY KEY CLUSTERED 
(
	[id_inscription] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SELECT_QUESTION]    Script Date: 10/30/2015 11:21:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SELECT_QUESTION](
	[id_test] [int] NOT NULL,
	[id_question] [int] NOT NULL,
	[id_user] [int] NOT NULL,
	[id_inscription] [int] NOT NULL,
	[estRepondu] [int] NOT NULL,
	[estMarque] [bit] NOT NULL,
 CONSTRAINT [SELECT_QUESTION_PK] PRIMARY KEY CLUSTERED 
(
	[id_inscription] ASC,
	[id_question] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REPONSE_DES_CANDIDATS]    Script Date: 10/30/2015 11:21:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPONSE_DES_CANDIDATS](
	[id_reponse] [int] NOT NULL,
	[id_test] [int] NULL,
	[id_user] [int] NOT NULL,
	[id_question] [int] NOT NULL,
	[id_inscription] [int] NOT NULL,
 CONSTRAINT [REPONSE_DES_CANDIDATS_PK] PRIMARY KEY CLUSTERED 
(
	[id_reponse] ASC,
	[id_question] ASC,
	[id_inscription] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF__TEST__estArchive__52593CB8]    Script Date: 10/30/2015 11:21:38 ******/
ALTER TABLE [dbo].[TEST] ADD  DEFAULT ((0)) FOR [estArchive]
GO
/****** Object:  ForeignKey [UTILISATEUR_PROMOTION_FK]    Script Date: 10/30/2015 11:21:38 ******/
ALTER TABLE [dbo].[UTILISATEUR]  WITH CHECK ADD  CONSTRAINT [UTILISATEUR_PROMOTION_FK] FOREIGN KEY([id_promo])
REFERENCES [dbo].[PROMOTION] ([id_promo])
GO
ALTER TABLE [dbo].[UTILISATEUR] CHECK CONSTRAINT [UTILISATEUR_PROMOTION_FK]
GO
/****** Object:  ForeignKey [UTILISATEUR_STATUT_FK]    Script Date: 10/30/2015 11:21:38 ******/
ALTER TABLE [dbo].[UTILISATEUR]  WITH CHECK ADD  CONSTRAINT [UTILISATEUR_STATUT_FK] FOREIGN KEY([id_statut])
REFERENCES [dbo].[STATUT] ([id_statut])
GO
ALTER TABLE [dbo].[UTILISATEUR] CHECK CONSTRAINT [UTILISATEUR_STATUT_FK]
GO
/****** Object:  ForeignKey [SECTION_TEST_FK]    Script Date: 10/30/2015 11:21:38 ******/
ALTER TABLE [dbo].[SECTION]  WITH CHECK ADD  CONSTRAINT [SECTION_TEST_FK] FOREIGN KEY([id_test])
REFERENCES [dbo].[TEST] ([id_test])
GO
ALTER TABLE [dbo].[SECTION] CHECK CONSTRAINT [SECTION_TEST_FK]
GO
/****** Object:  ForeignKey [SECTION_THEME_FK]    Script Date: 10/30/2015 11:21:38 ******/
ALTER TABLE [dbo].[SECTION]  WITH CHECK ADD  CONSTRAINT [SECTION_THEME_FK] FOREIGN KEY([id_theme])
REFERENCES [dbo].[THEME] ([id_theme])
GO
ALTER TABLE [dbo].[SECTION] CHECK CONSTRAINT [SECTION_THEME_FK]
GO
/****** Object:  ForeignKey [QUESTION_THEME_FK]    Script Date: 10/30/2015 11:21:38 ******/
ALTER TABLE [dbo].[QUESTION]  WITH CHECK ADD  CONSTRAINT [QUESTION_THEME_FK] FOREIGN KEY([id_theme])
REFERENCES [dbo].[THEME] ([id_theme])
GO
ALTER TABLE [dbo].[QUESTION] CHECK CONSTRAINT [QUESTION_THEME_FK]
GO
/****** Object:  ForeignKey [REPONSE_QUESTION_FK]    Script Date: 10/30/2015 11:21:38 ******/
ALTER TABLE [dbo].[REPONSE]  WITH CHECK ADD  CONSTRAINT [REPONSE_QUESTION_FK] FOREIGN KEY([id_question])
REFERENCES [dbo].[QUESTION] ([id_question])
GO
ALTER TABLE [dbo].[REPONSE] CHECK CONSTRAINT [REPONSE_QUESTION_FK]
GO
/****** Object:  ForeignKey [INSCRIPTION_TEST_TEST_FK]    Script Date: 10/30/2015 11:21:38 ******/
ALTER TABLE [dbo].[INSCRIPTION_TEST]  WITH CHECK ADD  CONSTRAINT [INSCRIPTION_TEST_TEST_FK] FOREIGN KEY([id_test])
REFERENCES [dbo].[TEST] ([id_test])
GO
ALTER TABLE [dbo].[INSCRIPTION_TEST] CHECK CONSTRAINT [INSCRIPTION_TEST_TEST_FK]
GO
/****** Object:  ForeignKey [INSCRIPTION_TEST_UTILISATEUR_FK]    Script Date: 10/30/2015 11:21:38 ******/
ALTER TABLE [dbo].[INSCRIPTION_TEST]  WITH CHECK ADD  CONSTRAINT [INSCRIPTION_TEST_UTILISATEUR_FK] FOREIGN KEY([id_user])
REFERENCES [dbo].[UTILISATEUR] ([id_user])
GO
ALTER TABLE [dbo].[INSCRIPTION_TEST] CHECK CONSTRAINT [INSCRIPTION_TEST_UTILISATEUR_FK]
GO
/****** Object:  ForeignKey [SELECT_QUESTION_INSCRIPTION_TEST_FK]    Script Date: 10/30/2015 11:21:38 ******/
ALTER TABLE [dbo].[SELECT_QUESTION]  WITH CHECK ADD  CONSTRAINT [SELECT_QUESTION_INSCRIPTION_TEST_FK] FOREIGN KEY([id_inscription])
REFERENCES [dbo].[INSCRIPTION_TEST] ([id_inscription])
GO
ALTER TABLE [dbo].[SELECT_QUESTION] CHECK CONSTRAINT [SELECT_QUESTION_INSCRIPTION_TEST_FK]
GO
/****** Object:  ForeignKey [SELECT_QUESTION_QUESTION_FK]    Script Date: 10/30/2015 11:21:38 ******/
ALTER TABLE [dbo].[SELECT_QUESTION]  WITH CHECK ADD  CONSTRAINT [SELECT_QUESTION_QUESTION_FK] FOREIGN KEY([id_question])
REFERENCES [dbo].[QUESTION] ([id_question])
GO
ALTER TABLE [dbo].[SELECT_QUESTION] CHECK CONSTRAINT [SELECT_QUESTION_QUESTION_FK]
GO
/****** Object:  ForeignKey [SELECT_QUESTION_TEST_FK]    Script Date: 10/30/2015 11:21:38 ******/
ALTER TABLE [dbo].[SELECT_QUESTION]  WITH CHECK ADD  CONSTRAINT [SELECT_QUESTION_TEST_FK] FOREIGN KEY([id_test])
REFERENCES [dbo].[TEST] ([id_test])
GO
ALTER TABLE [dbo].[SELECT_QUESTION] CHECK CONSTRAINT [SELECT_QUESTION_TEST_FK]
GO
/****** Object:  ForeignKey [SELECT_QUESTION_UTILISATEUR_FK]    Script Date: 10/30/2015 11:21:38 ******/
ALTER TABLE [dbo].[SELECT_QUESTION]  WITH CHECK ADD  CONSTRAINT [SELECT_QUESTION_UTILISATEUR_FK] FOREIGN KEY([id_user])
REFERENCES [dbo].[UTILISATEUR] ([id_user])
GO
ALTER TABLE [dbo].[SELECT_QUESTION] CHECK CONSTRAINT [SELECT_QUESTION_UTILISATEUR_FK]
GO
/****** Object:  ForeignKey [REPONSE_DES_CANDIDATS_REPONSE_FK]    Script Date: 10/30/2015 11:21:38 ******/
ALTER TABLE [dbo].[REPONSE_DES_CANDIDATS]  WITH CHECK ADD  CONSTRAINT [REPONSE_DES_CANDIDATS_REPONSE_FK] FOREIGN KEY([id_reponse])
REFERENCES [dbo].[REPONSE] ([id_reponse])
GO
ALTER TABLE [dbo].[REPONSE_DES_CANDIDATS] CHECK CONSTRAINT [REPONSE_DES_CANDIDATS_REPONSE_FK]
GO
/****** Object:  ForeignKey [REPONSE_DES_CANDIDATS_SELECT_QUESTION_FK]    Script Date: 10/30/2015 11:21:38 ******/
ALTER TABLE [dbo].[REPONSE_DES_CANDIDATS]  WITH CHECK ADD  CONSTRAINT [REPONSE_DES_CANDIDATS_SELECT_QUESTION_FK] FOREIGN KEY([id_inscription], [id_question])
REFERENCES [dbo].[SELECT_QUESTION] ([id_inscription], [id_question])
GO
ALTER TABLE [dbo].[REPONSE_DES_CANDIDATS] CHECK CONSTRAINT [REPONSE_DES_CANDIDATS_SELECT_QUESTION_FK]
GO
/****** Object:  ForeignKey [REPONSE_DES_CANDIDATS_TEST_FK]    Script Date: 10/30/2015 11:21:38 ******/
ALTER TABLE [dbo].[REPONSE_DES_CANDIDATS]  WITH CHECK ADD  CONSTRAINT [REPONSE_DES_CANDIDATS_TEST_FK] FOREIGN KEY([id_test])
REFERENCES [dbo].[TEST] ([id_test])
GO
ALTER TABLE [dbo].[REPONSE_DES_CANDIDATS] CHECK CONSTRAINT [REPONSE_DES_CANDIDATS_TEST_FK]
GO
/****** Object:  ForeignKey [REPONSE_DES_CANDIDATS_UTILISATEUR_FK]    Script Date: 10/30/2015 11:21:38 ******/
ALTER TABLE [dbo].[REPONSE_DES_CANDIDATS]  WITH CHECK ADD  CONSTRAINT [REPONSE_DES_CANDIDATS_UTILISATEUR_FK] FOREIGN KEY([id_user])
REFERENCES [dbo].[UTILISATEUR] ([id_user])
GO
ALTER TABLE [dbo].[REPONSE_DES_CANDIDATS] CHECK CONSTRAINT [REPONSE_DES_CANDIDATS_UTILISATEUR_FK]
GO
